<footer class="footer bg-dark text-light pt-5 pb-3 mt-6">
  <div class="container">
    <div class="row">

      <!-- Empresa -->
      <div class="col-md-4">
        <h5>Peritaje Informático</h5>
        <p>
          Ing. Alejandro Gigena
        </p>
        <p>
          Perito Informático
        </p>
        <p>
          Especialista en Análisis Forense Digital, Peritajes Informáticos y Evidencia Digital para causas judiciales.
        </p>
      </div>
      

      <!-- Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>Email: contacto@ejpinformatica.com</p>
        <p>WhatsApp: +54 9 341 000000</p>
        <p>Rosario, Santa Fe</p>
      </div>

    </div>

    <hr>

    <div class="text-center">
      <small>© 2026 Peritaje Informatico - Todos los derechos reservados</small>
    </div>
  </div>
</footer>